<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>
        <script type="text/javascript">
            function showContent() {
                element = document.getElementById("content");
                check = document.getElementById("check");
                if (check.checked) {
                    element.style.display='block';
                }
                else {
                    element.style.display='none';
                }
            }
            
        </script>
          <div class="container cart-container">
     
            <main>


              <ul class="cart-items">
                <li class="cart-item">
                  <img class="cart-item__image" src="/images/<%= product.images.name ? product.images.name : 'default.png' %>" alt="" width="50%" height="50%"/>
             <section class="sector">
                <h2 class="cart-item__name"> <%= product.name%></h2>
                <span class="cart-item__variant"></span>
                <div class="cart-item__amount">
                  <input tyoe="number" value="1" min="1" max="10" />
                </div>
                <span class="cart-item__total-price"></span>
                <button class="cart-item__remove-button">
                  <i class="ph-x"></i>
                </button>
             </section>
                </li>
            
            </main>
            <aside>
              <div class="cart-blabla">
                <p>
                  Blablabla...<br />
                  Free shipping and stuff...
                </p>
                <button class="checkout-button">comprar</button>
              </div>
            </aside>
          </div>

            <%- include('./partials/footer') %> 
    </body>

</html>