<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>
            <script type="text/javascript">
                function showContent() {
                    element = document.getElementById("content");
                    check = document.getElementById("check");
                    if (check.checked) {
                        element.style.display = 'block';
                    }
                    else {
                        element.style.display = 'none';
                    }
                }

            </script>
            <main>
                <section>

                    <article class="detail__main-article">

                        <div class="detail__main-tittle">
                            <h3>
                                <%= product.name%>
                            </h3>
                        </div>

                        <div class="superior-img-lateral">

                            
                            <div class="detail__main-img">
                                <img src="/images/product-images/<%= product.images[0].name ? product.images[0].name  : 'default.png'  %>"
                                    alt="" width="50%" height="50%">
                            </div>
                        
                           



                            <section class="lateral1">


                                <div class="detail__main-price-discount">

                                    <% if (product.discount) { %>
                                        <div class="price-1">
                                            <h4> PRECIO $<%= toThousand(new
                                                    Intl.NumberFormat().format(Math.trunc((product.price) -
                                                    (product.price * product.discount / 100))))%>
                                            </h4>
                                        </div>
                                        <div class="price2">
                                            <h3 class="detail__discount"> $<%= new
                                                    Intl.NumberFormat().format(product.price)%>
                                            </h3>
                                            <% } else { %>
                                                <h4> $<%= product.price %>
                                                </h4>
                                                <% } %>
                                                    <h5>
                                                        <% if (product.discount> 0) { %>
                                                    </h5>
                                                    <h5>
                                                        <%= product.discount%>%OFF
                                                    </h5>
                                                    <% } %>
                                        </div>

                                </div>
                                <div class="boton-pedidos">
                                </div>

                                <div class="detail__main-subtittle">
                                    <div class="arriba">
                                        <label for="check">
                                            <h4 class="caracteristicas" style="cursor: pointer;">
                                                <input type="checkbox" name="check" id="check" value="1"
                                                    onchange="javascript:showContent()" class="ocultar" >
                                                    Descripción<i class="fa-solid fa-square-caret-down"></i>
                                            </h4>

                                        </label>
                                    </div>

                                </div>
                            </section>
                        </div>





                        <article class="detail__main-info" id="content">
                            <div class="detail__main-info-product">
                                <p>MARCA:</p>
                                <p>
                                    <%= product.brand.name%>
                                </p>
                            </div>


                            <hr>
                            <div class="detail__main-info-product">
                                <p>DESCRIPCIÓN</p>
                                <p>
                                    <%= product.description%>
                                </p>
                            </div>

                        </article>



                    </article>
                    <article class="detail__main-article-button">
                        <% if (locals.userLogin && userLogin.role_id===2) { %>
                            <div class="detail__main-button">
                                <button class="detail__button1"> <a href="/products/edit/<%=product.id%>">
                                        <h4 class="title-detail"> EDITAR </h4>
                                    </a></button>
                            </div>

                            <form action="/products/delete/<%= product.id%>?_method=DELETE" method="POST">

                            </form>
                            <% } %>
                    </article>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>