<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


  <body class="body" id="body">
    <header>
      <%- include('./partials/header') %>
     
    </header>

    
    <main>
      <div class="banner">
        <%- include('./partials/carrousel') %>
      </div>
      <section class="contenedor">
        <% for( let i=0; i < category.length; i++ ) { %>
          <div class="caja">
            <a href="/products/filter?category=<%= category[i].id %>" class="category_item"
              title="<%= category[i].name %>">
              <img src="/images/logos-categorias/<%= category[i].image %> " alt="">
            </a>
          </div>
          <% } %>
      </section>
      <div class="flex-contenedor">
        <% product.forEach(({id,name,price,discount,images,brand})=> { %>
          <div class="el-wrapper" id="el-wrapper" <%=  %> >
            <div class="box-up">
              <img class="img" src="/images/product-images/<%= images.length ? images[0].name + '.jpg' : 'default.png' %> " alt="" width="50%"
                height="50%">
              <div class="img-info">
                <div class="info-inner">
                  <span class="p-name">
                    <%= name %>
                  </span>
                  <span class="p-company">
                    <%= brand.name %>
                  </span>
                </div>

              </div>
            </div>

            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>


              <span class="price">$<%= new Intl.NumberFormat().format(Math.trunc((price) - (price * discount / 100))) %>
              </span>
              <span class="go-description">
                <a class="txt" href="/products/detail/<%= id%>"><span class="txt">VER-PRODUCTO</span></a>
              </span>

            </div>
          </div>
          <% }) %>
      </div>

      
      <%- include('./partials/footer') %>

        <script src="/javascripts/index.js"></script>

  </body>
  <script>
    const tarjet = document.querySelectorAll(".el-wrapper");
    
    toggle.addEventListener("click", (e) => {
      const mode = sessionStorage.getItem('modo');
      for (let i = 0; i < tarjet.length; i++) {
        const elem = tarjet[i];
        if(sessionStorage.getItem('modo') == 1){
          elem.classList.add('active')
        } else {
          elem.classList.remove('active')
        }
      }
    }
    )
    window.addEventListener('load', () => {
      const mode = sessionStorage.getItem('modo');
      for (let i = 0; i < tarjet.length; i++) {
        const elem = tarjet[i];
        if(sessionStorage.getItem('modo') == 1){
          elem.classList.add('active')
        } else {
          elem.classList.remove('active')
        }
      }
    })
    
    
      
     






  </script>

</html>