<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 


    
    <%- include('./partials/header')  %>

   
        
            
            <body>
                <section class="form-login">
                    <h5>Ingresá</h5>
    
    
                     <form id="form-loginn" action="/users/login"  method="POST" >
    
                      
                        <input class="controls" for="email" placeholder="Email" type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email:null %>">

                            <div>
                                <small class="form__text--error"><%= locals.errors && errors.email? errors.email.msg :null %></small>
                                <small id="errorEmail" class="form__text--error"></small>
                            </div>
                 
                          
                        <input class="controls" for="password" placeholder="Contraseña" type="password" id="password" name="password">
                        <span class="input-group-text" style="cursor: pointer;" id="btn-show-pass"><i class="fa-solid fa-eye-slash" ></i></span>
                            <div>
                                <small class="form__text--error"><%= locals.errors && errors.password? errors.password.msg :null %></small>
                                <small id="errorPass" class="form__text--error"></small>
                            </div>

                            
                           
                    
        
                        <button class="buttons" type="submit">Ingresar</button>
                        <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
                
    
                      </form>
         
    </section>

                


        <%- include('./partials/footer') %> 
        <script src="/javascripts/userLogin.js"></script>
    
    </body>
    

</html>