<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 


    
    <%- include('./partials/header')  %>

   
        
            
            <body>

                <div class="login-box">
                    <h2>Login</h2>
                    <form action="/users/login" class="form" method="POST" >
                      <div class="user-box">
                        <input type="text" name="email" id="email" required="" autocomplete="off" value="<%= locals.old && old.email ? old.email:null %>">
                        <div>
                            <small class="form__text--error"><%= locals.errors && errors.email? errors.email.msg :null %></small>
                            <small id="errorEmail" class="form__text--error"></small>
                        </div>
                        <label>Username</label>
                      </div>
                      <div class="user-box">
                        <input type="password" name="password" id="password" required="" autocomplete="off" autofocus="off">
                        <div>
                            <small class="form__text--error"><%= locals.errors && errors.password? errors.password.msg :null %></small>
                            <small id="errorPass" class="form__text--error"></small>
                        </div>
                        <label>Password</label>
                      </div>
                      <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                      </a>
                    </form>
                  </div>
            </body>
    <script src="/javascripts/userLogin.js">
      
    </script>

    
   
  

</html>