<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 


<body>

    <%- include('./partials/header') %> 
    <main>



      
        
        <% if (products.length > 0) { %>
            <div class="flex-contenedor">
              <% products.forEach(({id,brand_id,name,categories_id,description,discount,price,images})=> { %>
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="/images/product-images/<%= images ? images[0].name + '.jpg' : 'default.png' %> " alt="" width="50%"
                      height="50%">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">
                            <%= name %>
                          </span>
                          <span class="p-company">
                            <%= products.brand %>
                          </span>
                        </div>
      
                      </div>
                    </div>
      
                    <div class="box-down <%= id%>">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>
      
                      
                       
              <span class="price">$<%= new Intl.NumberFormat().format(Math.trunc((price) - (price * discount / 100))) %>
              </span>
              <span class="go-description">
                <a class="txt" href="/products/detail/<%= id%>"><span class="txt">VER-PRODUCTO</span></a>
              </span>

            </div>
          </div>
                  <% }) %>
              </div>
        <% } else {%>
          <div class="alerta"> <h1>No se encontró la busquedá:</h1> <p class="alerta-keywords"><%= keywords%></p> </div>
          <br>
            <br>
            <% } %>
    
    </main>
    <footer>
        <section class="logos_redes">
            <nav class="logos"><a href=""> <i class="fa-brands fa-facebook"></i></a>
                <a href=""> <i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-twitter"></i></a>
                <a href=""> <i class="fa-brands fa-twitch"></i></a>
                <a href=""> <i class="fa-brands fa-linkedin"></i></a>
                <a href=""> <i class="fa-brands fa-google-play"></i> </a>
            </nav>
        </section>
        <section class="logo_pagina">
            <img src="" alt="">
        </section>
        <section>
            <p class="terminos_condiciones"><a href="terminos&condiciones">Terminos&Condiciones</a></p>
        </section>
    </footer>
</body>

</html>