<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<body>
 
        <%- include('./partials/header')  %>
    
        <div classs="container">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="card">
               
                  
                  <div class="card-body">
                    <form action="/products/add/store" class="form" method="POST"> <!-- enctype="multipart/form-data" -->
                      <!-- datos principales del producto -->
                      
                      <div class="row">
                        <div class="col-md-4">
                          <img src="" class="">
                          <input type="file" name="imageupload" accept="image/png, .jpeg, .jpg, image/gif" multiple>
                        </div>
                        <div class="col-md-8">
                          
                          <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form_input" type="text" id="name" name="name">
                                <small class="form_text_error"><%= locals.errors && errors.name? errors.name.msg :null %></small>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="categories_id" class="col-md-4 col-form-label">Categoria</label>
                            <div class="col-sm-6">
                                <select name="categories_id" id="categories_id">
                                    <option value="" hidden selected> seleccione ..</option>    
                                    <% categories.forEach((categories) => {  %>
                                        <option value="<%= categories.id%>"><%=categories.name %></option>
                                        <% }) %>
                                </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="brand" class="col-md-4 col-form-label">Marca</label>
                            <div class="col-sm-6">
                                <select name="brand_id" id="brand_id" required>
                                    <option value="" disabled selected>Seleccione la marca</option>
                                    <% brands.forEach(brands => {  %>
                                     <option value="<%=brands.id%>"> <%=brands.name%> </option>
                                     <% }) %>
                                    </select>
                            </div>
                          </div>
                          
                          <div class="form-group row">
                            <label for="description" class="col-md-4 col-form-label">Description Producto</label>
                            <div class="col-sm-6">
                                
                                <input class="form_input" type="text" id="description" name="description" value="">
                                <small class="form_text_error"><%= locals.discount && errors.discount? errors.name.msg :null %></small>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                      
                      <!-- precio y descuento-->
                     
                      <hr/>
                      <div class="row" >
                        <div class="col-lg-8">
                          <div class="form-group row">
                            <label for="attr_1" class="col-md-4 col-form-label">Precio</label>
                            <div class="col-sm-6">
                                <input type="number" id="price" name="price" placeholder="Ej: 5678" class="form_input">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="attr_2" class="col-md-4 col-form-label">Descuento</label>
                            <div class="col-sm-6">
                                <input class="form_input" type="number" id="discount" name="discount">
                                <small class="form_text_error"><%= locals.discount && errors.discount? errors.name.msg :null %></small>
                            </div>
                            <div class="button-group column">
                           
                         <button type="submit" class="btn btn-outline-success">Guardar</button>
                        
                         <button type="button" class="btn btn-outline-danger"><a href="/">Cancelar</a></button>
                          </div>
                         
                            </div>
                        </div>
                       
                        </div>
                      <!--  -->
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <footer></footer>

</body>

</html>
