<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>

  <body>

    <%-include('./partials/header')%>

      <main class="profile">
        
        <div class="saludo"><h2>Bienvenid@, </h2></div>
        <section class="wrapper">
          <div class="img-User">
            <img src="/images/users/<%= user.avatar ? user.avatar : 'default.png' %>" alt="" />


          </div>
          <div class="info-User">
            <p>
              <hr>
              <span>Nombre Completo:</span>
              <%= user.firstname%>
                <%=user.lastname %>
            </p>
            <hr>
            <p><span>Email:</span>
              <%=user.email %>
            </p>
            <hr>
            <p><span> Ciudad:</span>
              <%=user.city %>
            </p>
            <hr>
            <p><span>Calle:</span>
              <%=user.street %>
            </p>
            <hr>
            <p><span>Telefono:</span>
              <%=user.phone %>
            </p>
<hr>
<button type="button" class="btn btn-outline-danger"><a href="/users/logout" class="cerrarSesion">Cerrar sesión</a></button>
<button type="button" class="btn btn-outline-primary"> <a href="/users/editarPerfil" class="editarPerfil">Editar perfil</a></button>
          </div>
        </section>
      
      </main>

      <%-include('./partials/footer')%>

  </body>

</html>
