<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>


      <main class="home_main_register">

        <section class="register_main_section">
            
        
            <h1 class="form_title">Registrate</h1>
    
    
            <form  id="form-register" action="/users/register/add" class="form"  method="POST"> <!-- enctype="multipart/form-data" -->
    
                
                
            <div class="form_box">
                <label class="form_label" for="firstname">Nombre:</label>
                <input class="register_input" type="text" id="firstname" name="firstname" value="<%= locals.old && old.firstname ? old.firstname:null %>" >
                <small  class="form__text--error"><%= locals.errors && errors.firstname? errors.firstname.msg :null %></small>
                <small id="errorNombre" class="form__text--error"></small>

            </div>
            <div class="form_box">
                <label class="form_label" for="lastname">Apellido:</label>
                <input class="register_input" type="text" id="lastname" name="lastname" value="<%= locals.old && old.lastname ? old.lastname:null%>">
                      <small class="form__text--error"><%= locals.errors && errors.lastname? errors.lastname.msg :null %></small>
                      <small id="errorApellido" class="form__text--error"></small>
            </div>
            <div class="form_box">
                <label class="form_label" for="email"> Email:  </label>
                <input class="register_input" type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email:null %>" >

                <small class="form__text--error"><%= locals.errors && errors.email? errors.email.msg :null %></small>
                <small id="errorEmail" class="form__text--error"></small>
            </div>
            <div class="form_box">
