<!DOCTYPE html>
<html lang="es">
<!-- Header -->

<%- include('./partials/head')  %>
<body>
	<%- include('./partials/header')  %>
	<div class="flex-contenedor">
		<section class="contenedor">
			<% for( let i=0; i < category.length; i++ ) { %>
			  <div class="caja">
				<a href="/products/filter/<%= category[i].id %>" class="category_item"
				  title="<%= category[i].name %>">
				  <img src="/images/logos-categorias/<%= category[i].image %> " alt="">
				</a>
			  </div>
			  <% } %>
		  </section>
		<% if (product.length > 0) { %>
			  <div class="flex-contenedor">
				<% product.forEach(({id,brand_id,name,categories_id,description,discount,price,images})=> { %>
				  <div class="el-wrapper" id="el-wrapper">
					<div class="box-up">
						<img class="img" src="/images/product-images/<%= images.length ? images[0].name + '.jpg' : 'default.png' %> " alt="" width="50%"
						height="50%">
					  <div class="img-info">
						<div class="info-inner">
						  <span class="p-name">
							<%= name %>
						  </span>
						  <span class="p-company">
							<%= product.brand %>
						  </span>
						</div>
		
					  </div>
					</div>
		
					<div class="box-down">
					  <div class="h-bg">
						<div class="h-bg-inner"></div>
					  </div>
		
		
					  <span class="price">$<%= new Intl.NumberFormat().format(Math.trunc((price) - (price * discount / 100))) %>
					  </span>
					  <span class="go-description">
						<a class="txt" href="/products/detail/<%= id%>"><span class="txt">VER-PRODUCTO</span></a>
					  </span>
		
					</div>
				  </div>
				  <% }) %>
			  </div>
		
	
		<% }else { %>	
			<div class="box">
				<div class="loader-bad">
					<div class="icon search">
						<svg viewBox="0 0 24 24">
							<circle cx="11" cy="11" r="8"></circle>
							<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
						</svg>
					</div>
					<div class="icon bad">
						<svg viewBox="-394 266 30 30">
							<line fill="none" stroke-width="3" x1="-372.1" y1="270.3" x2="-372.1" y2="275.8" />
							<line fill="none" stroke-width="3" x1="-385.9" y1="270.3" x2="-385.9" y2="275.8" />
							<path fill="none" stroke-width="3" d="M-367.1,290.6c0,0-3.6-5.6-11.9-5.6c-8.2,0-12.1,5.6-12.1,5.6" />
						</svg>
					</div>
				</div>
				<br>
				<h3>Opss...</h3>
				<h4> Resultado erroneo!</h4>
				<p>No pudimos encontrar tu producto, intenta nuevamente! :( </p>
			</div>
			<% } %>	

	  </div>

</body>	
</html>